a:link, a:visited { color:#51561e; }

a:hover { color:#69792a; }

#conteneur .lienscubes a:link, #conteneur .lienscubes a:visited, .stick_info { background:#899c3d; }

#conteneur .lienscubes a:hover, #conteneur .lienscubes a:focus,.stick_info:hover, .stick_info:focus { background:#acc05d; }

table .titre, table th { background:#899c3d; }

.equipementTable .equipementTitres td, .equipementTable .panoplie, .parcheminTable .equipementTitres td { background:#9eb447; }

.infoPano tr.titre  td { background:#899c3d !important; }

div.infoTwitter, blockquote .auteur, div.infoEquipement, .image_preview img, #menu .titreMenu { background:#bccf73; }

.newsTitre { background:#899c3d; }

#conteneur .pagination a:hover { background:#5e6b2a; }

#conteneur .pagination a:active { background:#333; }

#menu .sousMenu li { border-left:2px solid #6D7C2F; }
#menu .sousMenu li:hover { border-left:2px solid #bccf73; }

.commentaire .informations { background:#899C3D; }



/*Final*/

#menu .titreMenu, div.infoEquipement, .topMessage { background:#e0e9bf; }
.chatMessages .miniFleche { border-top-color:#e0e9bf; }
.chatMessages .message .topMessage a:hover .pseudo { color:#51561e; }

.header { background:url(Images/HeaderRepeatEte.png) left top no-repeat #54d1bf; }
.header .headerContent { background:url(Images/LogoEte.png) 0 -10px no-repeat; }

#conteneur .pagination a:hover { background:#5e6b2a; }
ul.navigationPage li:hover, ul.navigationPage li.active  { background:#5e6b2a; }

#conteneur .pagination a:active, ul.navigationPage li:active { background:#333; }

table tr:nth-of-type(odd) { background:#f9faf0; }