.header { background:url(Images/HeaderRepeatNoel.jpg); }
.header .headerContent { background:url(Images/LogoNoel.png) 0 -10px no-repeat; }

a:link, a:visited { color:#1f427b; }

a:hover { color:#2e61b4; }

#conteneur .lienscubes a:link, #conteneur .lienscubes a:visited, .stick_info { background:#265196; }

#conteneur .lienscubes a:hover, #conteneur .lienscubes a:focus,.stick_info:hover, .stick_info:focus { background:#3066bf; }

table .titre, table th { background:#1f427b; }

.equipementTable .equipementTitres td, .equipementTable .panoplie, .parcheminTable .equipementTitres td { background:#265196; }

.infoPano tr.titre  td { background:#265196 !important; }

.topMessage, div.infoTwitter, blockquote .auteur, div.infoEquipement, .image_preview img, #menu .titreMenu { background:#93b2e4; }

.newsTitre { background:#1f427b; }

#conteneur .pagination a:hover {
	background:#bccfee;
	border-color:#2958a4;
}

#conteneur .pagination a:active {
	background:#224a89;
	border-color:#224a89;
}

.newSujet:hover {
	background:#bccfee;
	border:1px solid #2958a4;
}

.newSujet:active {
	background:#224a89;
	border:1px solid #224a89;
	color:#FFF;
}

#menu .sousMenu li { border-left:2px solid #1F427B; }
#menu .sousMenu li:hover { border-left:2px solid #93b2e4; }

.commentaire .informations { background:#265196; }