a:link, a:visited { color:#F30; }
a:hover { color:#f75; }

#conteneur .lienscubes a:link, #conteneur .lienscubes a:visited, .stick_info { background:#cc4d00; }

#conteneur .lienscubes a:hover, #conteneur .lienscubes a:focus,.stick_info:hover, .stick_info:focus { background:#ff6000; }

table .titre, table th { background:#ff7e01; }

.equipementTable .equipementTitres td, .equipementTable .panoplie, .parcheminTable .equipementTitres td { background:#ff8f23; }

.infoPano tr.titre td { background:#ff8f23 !important; }

.topMessage, div.infoTwitter, blockquote .auteur, div.infoEquipement, .image_preview img, #menu .titreMenu { background:#ffba78; }

.newsTitre { background:#ff7e01; }

#conteneur .pagination a:hover {
	background:#ffd4ab;
	border-color:#ff9834;
}

#conteneur .pagination a:active {
	background:#de6c00;
	border-color:#de6c00;
}

.newSujet:hover {
	background:#ffd4ab;
	border:1px solid #ff9834;
}

.newSujet:active {
	background:#de6c00;
	border:1px solid #de6c00;
	color:#FFF;
}

#menu .sousMenu li { border-left:2px solid #FF7E01; }
#menu .sousMenu li:hover { border-left:2px solid #ffba78; }

.commentaire .informations { background:#ff8f23; }