html { height:100% }

body {
	margin:0;
	padding:0;
    position:relative;
    text-align:left; 
	height:100%;
	font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}

.clear { clear:both; }

.loaderPage {
	position:absolute;
	color:#FFF;
	background:#000;
	margin:115px 0 0 10px;
	padding:3px;
	display:none;
}

header {
	display:block;
	margin:0 auto 0;
	background:#241b1b;
}

.conteneurHeader {
	margin:0;
	padding:20px 0 20px 10px;
	margin:0 auto 0;
	font-size:14px;
	width:1100px;
}

.logo {
	background:url(Images/logo.png) no-repeat center top;
	width:339px;
	height:50px;
	float:left;
	text-indent:-9999px;
	cursor:pointer;
	-webkit-transition:opacity 0.3s ease-in-out;
	-moz-transition:opacity 0.3s ease-in-out;
	-o-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out;
}

.logoHover {
	background:url(Images/logo.png) no-repeat center bottom;
	width:339px;
	height:50px;
	text-indent:-9999px;
	cursor:pointer;
	margin:0;
}

.logo:hover { opacity:0; }

nav {
	margin:10px auto -20px;
	color:#000;
	width:200px;
}

nav .left {
	background:url(Images/BoutonsFond.png) no-repeat left top;
	width:40px;
	height:34px;
	float:left;
}

nav .right {
	background:url(Images/BoutonsFond.png) no-repeat right top;
	width:40px;
	height:34px;
	float:right;
}

nav .center {
	background:#FFF;
	float:left;
	height:34px;
	width:120px;
}

nav li {
	background:#d9cdad;
	border-radius:15px;
	width:15px;
	height:15px;
	margin:10px 2px;
	float:left;
	list-style:none;
	cursor:pointer;
}

nav li:hover { background:#efe4c7; }

nav li:active, nav li.on {
	background:#bbaa7d;
	width:13px;
	height:13px;
	margin:11px 3px;
}

nav li.on { cursor:default; }

.wrapper {
	position:relative;
	padding:5px;
	color:#FFF;
	margin:50px auto;
	background:#333;
	border-radius:3px;
	height:500px;
	width:1100px;
}

footer {
	position:absolute;
	bottom:10px;
	background:#241b1b;
	color:#FFF;
	height:30px;
	width:100%;
}