@charset "UTF-8";

::selection { background:#000; }

html { height:100%; }

* {
	margin:0;
	padding:0;
}

body {
	background:rgba(39, 39, 39, 0.5);
	background-image:url("Images/Logo.png"), url("Images/Background.png");
	background-position:50% 45%, top left;
	background-repeat:no-repeat, repeat;
	box-shadow:inset 0 0 1000px #000;
	width:100%;
	height:100%;
	position:relative;
	color:#FFF;
}

body div.informations {
	top:70%;
	left:0;
	position:absolute;
	font-family:"Trebuchet MS", Verdana, sans-serif;
	padding:40px 0;
	background:rgba(0,0,0,0.25);
	width:100%;
	border-top:5px solid rgba(39,39,39,0.25);
	border-bottom:5px solid rgba(39,39,39,0.25);
	text-transform:uppercase;
	font-weight:bold;
	font-size:22px;
	text-align:center;
}